body {
    font-family: helvetica, sans-serif;
    font-size: 1rem; /* Base font size using rem for responsiveness */
    margin: 0; /* Remove default body margin */
}

.holder {
    display: flex;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('images/ice2.png');
    background-size: cover;
    height: 100vh;
    opacity: 0.2;
    z-index: -1;
    width: 100%;
}

.forum {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 600px;
}

#puckPathForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.player1,
.player2 {
    width: calc(45% - 5px);
    margin-right: 5px;
    margin-bottom: 10px;
}

.forum {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    background-color: #4CAF50;
}

li {
    cursor: pointer;
    padding: 5px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 16px);
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    padding: 10px 16px;
    background-color: #4CAF50;
    height: calc(80% - 5px);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    opacity: 0.5;
    font-size: 1em;
}

.autocomplete {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f5f5f5;
}

#container {
    width: 75%;
    height: calc(100vh - 40px);
    margin-top: 20px;
}

/* Responsive Font Sizes using Media Queries */
@media only screen and (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 1.1rem;
    }
}

/* Add more media queries as needed for different screen sizes */
